body {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 12px;
    text-align: center;
}

p {
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-variant: normal;
    line-height: 1.1rem;
    margin: .5rem;
    color: rgb(0,0,0);
}

a {
    text-decoration: none;
    color: rgb(17, 90, 224);
}

.responsive {
    width: 100%;
    max-width: 30rem;
    height: auto;
  }

/* Navigation Menu --------------------------------------- */
.menu {
    background-color: rgb(245, 141, 23);
    border-color:transparent;
    float: right;
    border-radius: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.menu a{
    color:rgb(255, 255, 255);
    font-size: 1rem;
    text-decoration: none;
}

nav {
    text-align: center;
}
  
nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 40rem 0rem;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

nav ul li {
    display: inline-block;
    margin: .17rem 0rem;
}

nav ul li a {
    color: rgb(245, 141, 23);
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a.active {
    color: rgb(17, 90, 224);
}

/* Navigation Menu End------------------------------------ */

/* Header ------------------------------------------------ */
.title {
    color: rgb(17, 90, 224);
    font-family: 'Courier New', Courier, monospace;
}

.title h1 {
    font-size: 2rem;
    padding-top: 2rem;
    margin: 0rem;
    font-weight: bolder;
}

.title h2 {
    font-size: 1.2rem;
    margin: 0rem;
    padding: 0rem;
    font-weight: normal;
}

/* Header End--------------------------------------------- */

/* Resume ------------------------------------------------ */

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    color: rgb(245, 141, 23);
    font-size: 1rem;
}

.about p {
    text-align: left;
    line-height: 1.2rem;
}

.resume p {
    text-align: center;
}

.resume .resumeWorkExperience h4 {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: .85rem;
    color: rgb(17, 90, 224);
    margin: 0;
}

.resume .resumeWorkExperience p, ul {
    text-align: left;
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-variant: normal;
    line-height: 1.1rem;
    margin: .5rem;
}

/* Resume End--------------------------------------------- */

/* Computer Science -------------------------------------- */
.item h3 {
    text-align: center;
}

/* Computer Science End----------------------------------- */

/* UX UI ------------------------------------------------- */

.Syzo img{
    max-width: 7rem;
}

/* UX UI End---------------------------------------------- */

/* Extra ------------------------------------------------- */

figcaption{
    color: rgb(245, 141, 23);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Extra End---------------------------------------------- */