body {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 12px;
    text-align: center;
}

.logo {
    color: rgb(17, 90, 224);
    font-size: 1.7em;
    display:inline-block;
}

.header {
    float: center;
    display:inline-block;
}

.header a {
    color: rgb(245, 141, 23);
    padding: 1em;
    text-decoration: none;
    font-size: .66em;
}

.header a:hover {
    color: rgb(17, 90, 224);
}

.title {
    color: rgb(17, 90, 224);
    font-size: 1.7em;
}

.title h2 {
    font-size: 1em;
}

h3 {
    text-align: left;
}

.about p {
    text-align: center;
}

.resume p {
    text-align: center;
}

.resume .resumeWorkExperience h4 {
    text-align: left;
}

.resume .resumeWorkExperience p {
    text-align: left;
}

.item h3 {
    text-align: center;
}

